* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgrey;
    background: linear-gradient( rgba(35, 35, 35, 0.5), rgba(79, 79, 79, 0.5) )
    
}
h1 {
    color: black;
    text-align: center;
    text-shadow: 2px 4px 4px rgba(87, 87, 87, 0.6);
    font-size: 50px;
    margin-top: 25px;
}
.canholder {
    margin: auto;
    background-color: rgb(193, 193, 193);
    border: 2px solid grey;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    margin-top: 50px;
}
.maincan {
    text-align: center;
    padding-top: 10px;
}